.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--white);
}
.inner{
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
    .logo{
        cursor: pointer;
        display: flex;
    }
}
.actions{
    display: flex;
    align-items: center;
}
.action-btn{
    background-color: transparent;
    font-size: 2.5rem;
    color: #161823;
    padding: 4px 8px;
    cursor: pointer;
}
.more-btn{
    font-size: 2rem;
    padding: 0 28px;
    background-color: transparent;
    cursor: pointer;
}
.user-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}